# Ignore virtual environment
rag-env/

# Ignore environment config
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore all vector DB directories
chroma_db/
chroma_dbs/

#Ignore saved docs
documents/Computational.pdf

#Ignore avatar pics
static/avatar.png